<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CS Walle</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- {{url_for('static',filename='')}} -->
  <!-- Favicons -->
  <link href="{{url_for('static',filename='img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: CS Walle - v4.10.0
  * Template URL: https://bootstrapmade.com/CS Walle-free-skin-bootstrap-3/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="index.html">CS Walle</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->

      <!-- <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/">About</a></li>
          <li class="dropdown"><a href="#services"><span>DevStack</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Web Development</a></li>
              <li><a href="#">Android Development</a></li>
              <li><a href="#">Flutter Development</a></li>
              <li><a href="#">Data Science</a></li>
              <li><a href="#">BlockChain</a></li>
              <li><a href="#">DevOps</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto " href="/sorry">Projects</a></li>
          <li><a class="nav-link scrollto" href="#testimonials">Team</a></li>
          <li class="dropdown"><a href="/semester"><span>Semester</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/semester/first-slug">1st Semester</a></li>
              <li><a href="/semester/second-slug">2nd Semester</a></li>
              <li><a href="/semester/third-slug">3rd Semester</a></li>
              <li><a href="/semester/fourth-slug">4th Semester</a></li>
              <li><a href="/semester/fifth-slug">5th Semester</a></li>
              <li><a href="/semester/sixth-slug">6th Semester</a></li>
              <li><a href="/semester/seventh-slug">7th Semester</a></li>
              <li><a href="/semester/eigth-slug">8th Semester</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav> -->
      <!-- .navbar -->

    </div>
  </header><!-- End Header -->

  {% block body %} {% endblock %}


  
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>CS Walle</h3>
            <p>
              ITER, Siksha O Anusandhan University <br>
              Bhubaneswar, Odisha<br>
              India <br><br>
              <strong>Email:</strong> cswalle.team@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Web Visitors</h4>
            <p>This page was viewed</p>
            <h1 id="count">0</h1>
            <p>times</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Social Links</h4>
            <ul>
              <li><i class="bx bxl-instagram"></i> <a href="https://instagram.com/cswalle?igshid=ZDdkNTZiNTM=">Instagram</a></li>
              <li><i class="bx bxl-github"></i> <a href="https://github.com/cswalle">Github</a></li>
              <li><i class="bx bxl-linkedin"></i> <a href="https://www.linkedin.com/in/cs-walle-23259a26b/">LinkedIn</a></li>
              <li><i class="bx bxl-twitter"></i> <a href="https://twitter.com/TeamCSwalle">Twitter</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Mail us</h4>
            <p>For contribution  please mail us and help ours to get updated!</p>
            <h5>E-mail: cswalle.team@gmail.com</h5>
          </div>

        </div>
      </div>
    </div>

    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>CS Walle</span></strong>. All Rights Reserved
          </div>

        </div>
        
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static',filename='vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script>
    const countEl = document.getElementById("count");
    countvisits();

    function countvisits() {
      fetch('https://api.countapi.xyz/update/cswalle.com/awesome104124/?amount=1')
        .then((res) => res.json())
        .then((res) => {
          countEl.innerHTML = res.value;
        });
    }
  </script>
  <script src="{{url_for('static',filename='js/main.js')}}"></script>
  <script>
    const c1 = document.getElementById("count");
    countvisits();

    function countvisits() {
      fetch('https://api.countapi.xyz/update/cswalle/keyword/?amount=1')
        .then((res) => res.json())
        .then((res) => {
          c1.innerHTML = res.value;
        });
    }
  </script>

</body>

</html>
